@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Comfortaa";
}

.host-view {
    background-color: white;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start; /* Keep items aligned at the top */
    gap: 20px; /* Add gap between items */
    font-size: 35px;
    font-family: 'Comfortaa';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.spacer {
    margin: 0;
    background-color: #FB8500;
    width: 100vw;
    height: 13vh;
    text-align: center;
    font-family: 'Comfortaa';
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
}
.spacer2 {
    margin: 0;
    background-color: #FB8500;
    width: 100vw;
    height: 13vh;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}


.submit-items-button{
    text-align: center;
    border: none;
    width: 15vw;
    height: 8vh;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 4.8vh;
    background-color: #FFB703;
    color: white;
}

button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover{
    background-color: #FFA726; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.submit-items-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.submit-items-button:disabled:hover {
    background-color: #ccc; /* Ensure the background color stays the same */
    box-shadow: none;
    transform: none;
}

.item-carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    font-weight: normal;
}

.item-list{
    position: absolute;
    align-items: left;
    float: left;
    left: 0px;
    justify-content: space-between;
    margin-left: 2vw;
    font-weight: bold;
}



.item-display {
    margin: 0 20px;
    font-size: 24px;
    color: white;
}

.arrow-button{
    background-color: #FFB703;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin: 0 10px;
}

.image-container {

    position: relative;
    display: flex;
    justify-content: space-between;
    left: 20vw;
    align-items: center;
    float: center;
    
    text-align:center;
    border: none;
    width: 200px;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #8ECAE6;
    font-size: 24px;
    color: white;

    margin-top: 6.1vh;
    margin-left: 20vw;
}

.delete-button {
    position: relative;
    justify-content: space-between;
    align-items: center;
    float: center;
    
    text-align:center;
    border: none;
    width: 5vw;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #FF0000;
    font-size: 24px;
    color: white;

    margin-top: 6vh;

    margin-left: 20vw; 

}


.arrow-button:hover,
.delete-button:hover {
    opacity: 0.8;
}


.image-container input {
    display: none;
}

.image-container label {
    cursor: pointer;
    text-align: center;
}

.image-container:hover{
    background-color: #FFA726; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.set-time {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 20vw;
}
.set-time input{
    text-align:center;
    border: none;
    width: 12vw;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #FFB703;
    font-size: 24px;
    color: white;
}

.image-preview {
    margin-top: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    height: 25vw;
    width: 25vw;
    overflow:auto;
    margin-left: 37vw;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}