@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.pinPage {
    background-color: #8ECae6;
    padding: 5vh;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    font-size: 60px;
    font-family: 'Comfortaa';
}

.spacer, .spacer2 {
    margin: 0;
    background-color: #FB8500;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
}

.spacer {
    top: 0;
}

.spacer2 {
    bottom: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}

.inputBox {
    text-align: center;
    border: none;
    width: 300px;
    padding: 15px 20px;
    font-size: 24px;
    border-radius: 100px;
    box-sizing: border-box;
    margin: 10px 0; 
}

.startGameButton {
    text-align: center;
    border: none;
    width: 50vh;
    margin: 5vh 0;
    padding: 3vh 20px;
    border-radius: 15px;
    font-size: 35px;
    background-color: #FFB703;
    color: white;
    transition: all 0.3s ease-in-out; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.startGameButton:hover {
    background-color: #FFA726; 
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #FFA726; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.errorPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.errorPopupContent {
    text-align: center;
}

.errorPopupContent button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.errorPopupContent button:hover {
    background-color: #CC0000;
}

.successPopup {
    position: fixed;
    top: 700px;
    right: 730px;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.successPopupContent p {
    margin: 0;
    font-size: 14px;
}

.successPopupContent button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFB703;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.successPopupContent button:hover {
    background-color: #FFA726;
}
