@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Comfortaa';
}

.host-view {
    background-color: #8ECae6;
    padding: 130px;  
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 35px;
}

.spacer {
    margin: 0;
    background-color: #FB8500;
    width: 100vw;
    height: 40px;  
}

.spacer2 {
    margin: 0;
    background-color: #FB8500;
    width: 100vw;
    height: 40px; 
    position: fixed;
    bottom: 0;
    left: 0;
}

.lobby-code input {
    margin: 10px;
    text-align: center;
    border: none;
    width: 200px;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 15px;
}

.set-time {
    position: absolute;
    top: 130px;  
    right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.set-time input {
    text-align: center;
    border: none;
    width: 200px;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #FFB703;
    font-size: 24px;
}

.add-item-section {
    margin: 0;
}

.add-item-section input, .add-item-section button {
    text-align: center;
    border: none;
    width: 200px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 24px;
}

.add-item-section input {
    background-color: #D9D9D9;
    color: white;
    opacity: 1;
}

.add-item-section input::placeholder {
    color: white;
    opacity: 1;
}

.add-item-section button {
    background-color: #FFB703;
    color: white;
}

.start-game-button {
    text-align: center;
    border: none;
    width: 300px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 35px;
    background-color: #FFB703;
    color: white;
}

button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #FFA726;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.item-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 2x;  
    border-radius: 10px;
    width: 100%; 
    margin-top: 5px;
    position: relative;
    height: 70px;
}

.item-display {
    margin: 5px;  
    font-size: 24px;
    color: white;
    height: min-content;
}

.arrow-button {
    background-color: #FFB703;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin: 10px;
}

.delete-button {
    background-color: #FB8500;
    border: none;
    border-radius: 10px;
    padding: 0px;  
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    position: relative;
    top: -35px; 
    margin-left: 10px;
    left: 0px;
}

.arrow-button:hover,
.delete-button:hover {
    opacity: 0.8;
}

.success-message {
    background-color: #41BA00; 
    color: white; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 30px; 
    margin-top: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
