@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.pin-page {
    background-color: #8ECae6;
    padding: 100px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Keep items aligned at the top */
    font-size: 60px;
    font-family: 'Comfortaa';
}

.spacer, .spacer2 {
    margin: 0;
    background-color: #FB8500;
    width: 100vw;
    height: 80px;
    position: fixed;
    left: 0;
}

.spacer {
    top: 0;
}

.spacer2 {
    bottom: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Space between PIN and User ID fields */
}

.input-box {
    margin: 50px;
    text-align: center;
    border: none;
    width: 400px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 100px;
    box-sizing: border-box;
}

.start-game-button {
    text-align: center;
    border: none;
    width: 300px;
    margin: 100px; 
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 35px;
    background-color: #FFB703;
    color: white;
}

button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #FFA726; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.error-popup-content {
    text-align: center;
}

.error-popup-content button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.error-popup-content button:hover {
    background-color: #CC0000;
}
