@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

.spacer {
    margin: 0;
    background-color: #FB8500;
    width: 100vw;
    height: 80px;
}

.background {
    background-color: #8ECae6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 10px;
    font-family: 'Comfortaa';
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    font-size: 10px;
    font-weight: bold;
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 700px;
}

.player-box {
    background-color: #219EBC;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 10;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
}

.start-link {
    font-size: 18px;
    margin-top: 20px;
}